.profile__edit-button {
  margin: 0 0 0 18px;
  background-color: black;
  padding: 0;
  width: 24px;
  height: 24px;
  grid-area: edit;
}

@media screen and (max-width: 460px) {
  .profile__edit-button {
    margin-left: 10px;
  }

}
