.profile__edit-button {
  margin: 0 0 0 18px;
  background-color: transparent;
  padding: 0;
  width: 24px;
  height: 24px;
  grid-area: edit;
  cursor: pointer;
  transition: opacity 0.2s linear;
  border: none;
  border: 1px solid #FFF;
  box-sizing: border-box;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 460px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }

}
