.page {
  position: relative;
  margin-left: calc(200/1280*100%);
  margin-right: calc(200/1280*100%);
  /* max-width: 880px;
  margin: auto; */
}

@media screen and (max-width:1025px) {
  .page {
    margin-left: calc(100/1280*100%);
    margin-right: calc(100/1280*100%);
  }
}

@media screen and (max-width:600px) {
  .page {
    margin-left: 19px;
    margin-right: 19px;
  }
}
