.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #FFFFFF;
  min-width: 294px;
  /* grid-area: name; */
}


@media screen and (max-width: 600px) {
  .profile__name{
    font-size: 34px;
    min-width: 230px;
  }

}

@media screen and (max-width: 460px) {
  .profile__name{
    font-size: 27px;
    line-height: 1.22;
    min-width: 189px;
    margin-left: 32px;
  }

}
